---
layout: default
title: 記事一覧
---
<h1><span class="show-only-tag-exists" style="display: none;">タグ '<span class="tag-name"></span>' の</span>記事一覧</h1>
<div class="articles">
  {% for post in site.posts %}
  {% include article.html page=post donotshowall=true %}
  {% endfor %}
</div>
<div id="tag-unknown">
  <span class="tag-name"></span>にマッチする記事はありません。
</div>
<div id="prev-page" style="float: left; display: none;">
  <a href="" id="prev-page-link"><i class="fa fa-chevron-left"></i>新しい記事</a>
</div>
<div id="next-page" style="text-align: right; display: none;">
  <a href="" id="next-page-link">古い記事<i class="fa fa-chevron-right"></i></a>
</div>

<style>
 article {
   margin-bottom: 50px;
 }
</style>

<script>
 (function () {
   var offset = 10;

   var showElement = (e) => {
     e.style.display = 'block';
   };

   var showInlineElement = (e) => {
     e.style.display = 'inline';
   };

   var hideElement = (e) => {
     e.style.display = 'none';
   };

   var forEach = (arrLike, fn) => {
     Array.prototype.forEach.call(arrLike, fn);
   };

   var parseTagAndPage = (hash) => {
     // #PAGE
     var match = hash.match(/^#(\d+)\/?$/);
     if (match) {
       return { tag: null, page: match[1] ? parseInt(match[1]) : 0 };
     }
     // #TAG/PAGE
     match = hash.match(/^#([a-zA-Z0-9 _-]+)(\/(\d*)\/?)?$/);
     if (match) return {
         tag: match[1] ? match[1] : null,
         page: match[3] ? parseInt(match[3]) : 0
     };
     return { tag: null, page: 0 };
   };

   var showPage = (articles, page) => {
     var startIndex = offset * page;
     Array.prototype.slice.call(articles, startIndex, startIndex + offset)
          .forEach(showElement);
   };

   var urlFor = (tag, page) => {
     if (tag) return `#${tag}/${page}`;
     else return `#${page}`;
   }

   var setNavigation = (articles, tag, page) => {
     if (page > 0) {
       document.getElementById('prev-page-link')
               .setAttribute('href', urlFor(tag, page - 1));
       showElement(document.getElementById('prev-page'));
     } else {
       hideElement(document.getElementById('prev-page'));
     }
     if (offset * (page + 1) < articles.length) {
       document.getElementById('next-page-link')
               .setAttribute('href', urlFor(tag, page + 1));
       showElement(document.getElementById('next-page'));
     } else {
       hideElement(document.getElementById('next-page'));
     }
   };

   var filterTags = () => {
     forEach(document.getElementsByTagName('article'), hideElement);
     hideElement(document.getElementById('tag-unknown'));
     forEach(document.getElementsByClassName('show-only-tag-exists'), hideElement);

     var loc = parseTagAndPage(location.hash);
     var currentTag = loc.tag;
     var currentPage = loc.page;
     var articles;

     if (currentTag) {
       articles = document.getElementsByClassName(`tag-${currentTag}`);
       forEach(
         document.getElementsByClassName('tag-name'),
         (e) => e.innerText = currentTag
       );
       forEach(
         document.getElementsByClassName('show-only-tag-exists'),
         showInlineElement
       );
     } else {
       articles = document.getElementsByTagName('article');
       forEach(
         document.getElementsByClassName('show-only-tag-exists'),
         hideElement
       );
     }

     if (articles.length > 0) {
       showPage(articles, currentPage);
       setNavigation(articles, currentTag, currentPage);
     } else if (currentTag) {
       showElement(document.getElementById('tag-unknown'));
     }
   }

   if (document.readyState !== 'loading') {
     filterTags();
   } else {
     document.addEventListener('DOMContentLoaded', () => filterTags());
   }

   window.addEventListener('hashchange', () => {
     filterTags();
     window.scrollTo(0, 0);
   });
 })();
</script>

