---
layout: null
title: top
description: プログラミング関係のメモ等
---
<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ '/assets/css/toppage.css' | relative_url }}">
  </head>
  <body>
    <div class="wrapper top-wrapper">
      <div class="wrapper-title">
        BLOG.7NOBO.ME
        <i class="wrapper-title-button"></i>
      </div>
      <section>
        <nav class="top-nav">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <ul>
            <li><a href="/about.html">Profile</a></li>
            <li><a href="/articles.html">Posts</a></li>
            <li><a href="/products.html">Products</a></li>
          </ul>
        </nav>
      </section>
    </div>
    {% if site.google_analytics %}
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', '{{ site.google_analytics }}', 'auto');
     ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
