---
layout: default
title: tags
---
<h1>タグ '<span class="tag-name"></span>' の記事一覧</h1>
{% for tag in site.tags %}
<div class="tag tag-{{ tag[0] }}" style="display: none;">
  <ul>
    {% for post in tag[1] %}
    <li style="list-style: none;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

<div class="tag tag-unknown">
  <span class="tag-name"></span>にマッチする記事はありません。
</div>

<script>
 (function () {
   var offset = 10;

   var showElement = (e) => {
     e.style.display = 'block';
   };

   var hideElement = (e) => {
     e.style.display = 'none';
   };

   var forEach = (arrLike, fn) => {
     Array.prototype.forEach.call(arrLike, fn);
   };

   var parseTagAndPage = (hash) => {
     var match = hash.match(/#([a-zA-Z0-9 _-]*)\/?(\d*)/);
     if (!match) return { tag: null, page: 0 }
     return {
       tag: match[1] ? match[1] : null,
       page: match[2] ? match[2] : 0
     }
   }

   var filterTags = () => {
     forEach(document.getElementsByClassName('tag'), hideElement);

     var currentTag = parseTagAndPage(location.hash).tag;
     var articles = document.getElementsByClassName('tag-' + currentTag);

     forEach(
       document.getElementsByClassName('tag-name'),
       (e) => e.innerText = currentTag
     );

     if (articles.length > 0) {
       forEach(articles, showElement);
     } else {
       forEach(document.getElementsByClassName('tag-unknown'), showElement);
     }
   }

   if (document.readyState !== 'loading') {
     filterTags();
   } else {
     document.addEventListener('DOMContentLoaded', () => filterTags());
   }

   window.addEventListener('hashchange', () => {
     filterTags();
     window.scrollTo(0, 0);
   });
 })();
</script>

