---
layout: default
title: tags
---
<h1>タグ '<span class="tag-name"></span>' の記事一覧</h1>
{% for tag in site.tags %}
<div class="tag tag-{{ tag[0] }}" style="display: none;">
  <ul>
    {% for post in tag[1] %}
    <li style="list-style: none;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

<div class="tag tag-unknown">
  <span class="tag-name"></span>にマッチする記事はありません。
</div>

<script>
 (function () {
   var filterTags = () => {
     Array.prototype.forEach.call(
       document.getElementsByClassName('tag'),
       (e) => e.style.display = 'none'
     );

     var currentTag = location.hash.substring(1);
     var articles = document.getElementsByClassName('tag-' + currentTag);

     Array.prototype.forEach.call(
       document.getElementsByClassName('tag-name'),
       (e) => e.innerText = currentTag
     );

     if (articles.length > 0) {
       Array.prototype.forEach.call(
         articles,
         (e) => e.style.display = 'block'
       );
     } else {
       Array.prototype.forEach.call(
         document.getElementsByClassName('tag-unknown'),
         (e) => e.style.display = 'block'
       );
     }
   }

   if (document.readyState !== 'loading') {
     filterTags();
   } else {
     document.addEventListener('DOMContentLoaded', () => filterTags());
   }

   window.addEventListener('hashchange', () => {
     filterTags();
     window.scrollTo(0, 0);
   });
 })();
</script>

