$outer-background-color: #6eb7db;
$inner-background-color: #ffffff;
$shadow-color: #454e53;

$border-color: $inner-background-color;

$font-color: #727272;

$link-color: #1e98b9;
$link-hover-color: #6bbed5;

$hr-color: $outer-background-color;
$table-border-color: #e5e5e5;

$code-background-color: $inner-background-color;
$code-font-color: #333333;
$code-border-color: $hr-color;

$tag-font-color: $font-color;
$tag-font-hover-color: $tag-font-color;
$tag-font-active-color: $tag-font-color;
$tag-background-color: $inner-background-color;
$tag-border-color: $outer-background-color;

$h1-color: #292929;
$h2-color: #393939;
$h3-color: #494949;

$copyright-color: #777777;
