$outer-background-color: #40a3eb;
$inner-background-color: #ffffff;

$border-color: $outer-background-color;

$font-color: #727272;

$link-color: #267cb9;
$link-hover-color: #006699;

$hr-color: #ff9ca8;
$table-border-color: #e5e5e5;

$code-background-color: $inner-background-color;
$code-font-color: #333333;
$code-border-color: $hr-color;

$tag-font-color: $outer-background-color;
$tag-font-hover-color: $tag-font-color;
$tag-font-active-color: $tag-font-color;
$tag-background-color: #d3f9ff;
$tag-border-color: $tag-background-color;

$h1-color: #292929;
$h2-color: #393939;
$h3-color: #494949;

$copyright-color: #777777;
