<article class="{% for t in include.page.tags %} tag-{{ t }} {% endfor %}">
  <h1><a href="{{ include.page.url }}">{{ include.page.title }}</a></h1>
  <div class="article-metadata">
    <time style="float: left;">{{ include.page.date | date: "%Y年%m月%d日" }}</time>
    <ul class="tag-list">
      {% assign tags = include.page.tags | sort %}
      {% for tag in tags %}
      <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>
  {% if include.donotshowall %}
  {% else %}
  {% include share-button.html %}
  {% endif %}
  <hr>
  <div class="article-body">
    {% if include.donotshowall %}
    {{ include.page.content | strip_html | slice: 0, 200 }}...
    {% else %}
    {{ include.page.content }}
    {% endif %}
  </div>
</article>
