<article class="{% for t in include.page.tags %} tag-{{ t }} {% endfor %}">
  <h1>
    {% if include.donotshowall %}
    <a href="{{ include.page.url }}">{{ include.page.title }}</a>
    {% else %}
    {{ include.page.title }}
    {% endif %}
  </h1>
  <div class="article-metadata">
    <time>{{ include.page.date | date: "%Y年%m月%d日" }}</time>
    <div class="tag-list">
      <ul>
        {% assign tags = include.page.tags | sort %}
        {% for tag in tags %}
        <li><a href="{{ '/articles.html' | relative_url }}#{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if include.donotshowall %}
  {% else %}
  {% include share-button.html %}
  {% endif %}
  <hr>
  <div class="article-body">
    {% if include.donotshowall %}
    {{ include.page.content | strip_html | slice: 0, 200 }}...
    {% else %}
    {{ include.page.content }}
    {% endif %}
  </div>
</article>
