<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>{{ page.title }} - {{ site.title | default: site.github.repository_name }}</title>

<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="/css/hatena.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width">
<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta itemprop="name" content="{{ page.title }} - {{ site.title | default: site.github.repository_name }}">
<meta itemprop="image" content="{{ site.baseurl }}/img/Octocat.jpg">
<meta property="og:title" content="{{ page.title }} - {{ site.title | default: site.github.repository_name }}">
<meta property="og:image" content="{{ site.baseurl }}/img/Octocat.jpg">
<meta property="og:description" content="{{ page.content | strip_html | strip_newlines | slice: 0, 100 }}...">
<meta property="og:site_name" content="{{ site.title | default: site.github.repository_name }}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<meta property="og:type" content="article">
<meta name="twitter:title" content="{{ site.title | default: site.github.repository_name }}">
<meta name="description" content="{{ page.content | strip_html | strip_newlines | slice: 0, 100 }}...">
<meta name="twitter:site" content="@{{ site.twitter.user }}">
<meta name="twitter:card" content="summary">
