<h1><a style="text-decoration: none" href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
<div>
<a href="/feed.xml"><i class="fa fa-rss"></i></a>
</div>

<h3>Profile</h3>
<a href="{{ site.baseurl }}/about.html">Genta Kamitani</a>

<h3>Recent Posts</h3>
{% for post in site.posts limit:5 %}
<div>
  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | slice: 0, 17 }}{% if post.title.size > 18 %}...{% endif %}</a>
</div>
{% endfor %}
<div>
  <a href="/articles.html">more <i class="fa fa-chevron-right"></i></a>
</div>

<h3>Search</h3>
<div>
  <script>
   (function() {
     var cx = '002259772166117728422:2nr58qwu92i';
     var gcse = document.createElement('script');
     gcse.type = 'text/javascript';
     gcse.async = true;
     gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(gcse, s);
   })();
  </script>
  <gcse:searchbox-only></gcse:searchbox-only>
</div>

<h3>Tags</h3>
<ul class="tag-list">
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
  <li><a href="{{ site.baseurl }}/articles.html#{{ tag[0] }}">{{ tag[0] }} ({{ tag[1].size }})</a></li>
  {% endfor %}
</ul>
