@import "fonts";
@import "rouge-github";

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

table {
  width:100%;
  border-collapse:collapse;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:11px;
}
