// https://www.schemecolor.com/2018-fifa-world-cup-logo-colors-russia.php
$color1: #d30208;
$color2: #e5c685;
$color3: #f5eed5;
$color4: #171714;
$color5: #015386;
$color6: #0074b1;

$background-color: $color3;

$border-color: $color4;

$font-color: $color4;

$link-color: $color6;
$link-hover-color: $color6;

$code-background-color: $color3;
$code-font-color: $color4;

$tag-font-color: $font-color;
$tag-font-hover-color: $tag-font-color;
$tag-font-active-color: $tag-font-color;
$tag-background-color: $background-color;

$h1-color: $color4;
$h2-color: $color4;
$h3-color: $color4;

$copyright-color: $color4;
