$outer-background-color: #008080;
$inner-background-color: #c0c0c0;

$wrapper-title-color: #000080;
$wrapper-title-text-color: #ffffff;

$border-light-color: #ffffff;
$border-dark-color: #808080;
$shadow-color: #000000;

$font-color: #000000;

$link-color: #0000ff;
$link-hover-color: #800000;

$hr-color: #808080;
$table-border-color: $border-light-color;

$code-background-color: $inner-background-color;
$code-font-color: #800080;

$tag-font-color: $font-color;
$tag-font-hover-color: $tag-font-color;
$tag-font-active-color: $tag-font-color;
$tag-background-color: $inner-background-color;

$h1-color: #000000;
$h2-color: #000000;
$h3-color: #000000;

$copyright-color: #000000;
