.clearfix{
    display:block;
    *zoom:1}
.clearfix:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.inline-block{
    display:inline-block;
    *display:inline;
    *zoom:1}
.ellipsis{
    white-space:nowrap;
    -webkit-text-overflow:ellipsis;
    text-overflow:ellipsis;
    overflow:hidden}
.font-default{
    font-family:Helvetica Neue,Helvetica,Arial,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ\ Ｐゴシック,MS PGothic,sans-serif}
.border-box{
    -ms-box-sizing:border-box;
    box-sizing:border-box}
.center{
    text-align:center;
    margin-left:auto;
    margin-right:auto}
.left{
    float:left}
.right{
    float:right}
.nofloat{
    float:none}
.clear{
    clear:both}
.block{
    display:block}
.inline{
    display:inline}
.nodisplay{
    display:none}
.relative{
    position:relative}
.absolute{
    position:absolute}
.static{
    position:static}
.fixed{
    position:fixed}
.margin0{
    margin:0!important}
.padding0{
    padding:0!important}
.bold{
    font-weight:700}
.normal{
    font-weight:400;
    font-style:normal}
.thin{
    font-weight:300}
.italic{
    font-style:italic}
.nodeco{
    text-decoration:none}
.underline{
    text-decoration:underline}
.nolist{
    list-style-type:none}
.disc{
    list-style-type:disc}
.circle{
    list-style-type:circle}
.textleft{
    text-align:left}
.textright{
    text-align:right}
@font-face{
    font-family:blogicon;
    src:url(/fonts/public/blogicon/blogicon-regular.woff?version=e6c6301f8f411fe89573b16cc9a90fdfa73423b4) format("woff"),url(/fonts/public/blogicon/blogicon-regular.otf?version=3efd24f48a3031dc10b88526d035be7b0873df06) format("opentype");
    font-weight:400;
    font-style:normal}
[class*=blogicon-]{
    display:inline-block;
    font-family:blogicon;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale}
[class*=blogicon-].lg{
    font-size:1.3333333333333333em;
    line-height:.75em;
    vertical-align:-10%}
.blogicon-hatenablog:before{
    content:"\f000"}
.blogicon-plus:before{
    content:"\f001"}
.blogicon-minus:before{
    content:"\f002"}
.blogicon-reorder:before{
    content:"\f003"}
.blogicon-grid:before{
    content:"\f004"}
.blogicon-chevron-left:before{
    content:"\f005"}
.blogicon-chevron-right:before{
    content:"\f006"}
.blogicon-chevron-up:before{
    content:"\f007"}
.blogicon-chevron-down:before{
    content:"\f008"}
.blogicon-external:before{
    content:"\f009"}
.blogicon-plugin:before{
    content:"\f00a"}
.blogicon-member:before{
    content:"\f00b"}
.blogicon-account:before{
    content:"\f00c"}
.blogicon-design:before{
    content:"\f00d"}
.blogicon-cog:before{
    content:"\f00e"}
.blogicon-pages:before{
    content:"\f00f"}
.blogicon-edit:before{
    content:"\f010"}
.blogicon-addstar:before{
    content:"\f011"}
.blogicon-subscribe:before{
    content:"\f012"}
.blogicon-entry:before{
    content:"\f013"}
.blogicon-notify:before{
    content:"\f014"}
.blogicon-private:before{
    content:"\f015"}
.blogicon-user:before{
    content:"\f016"}
.blogicon-home:before{
    content:"\f017"}
.blogicon-setting:before{
    content:"\f018"}
.blogicon-draft:before{
    content:"\f019"}
.blogicon-search:before{
    content:"\f01a"}
.blogicon-analytics:before{
    content:"\f01b"}
.blogicon-help:before{
    content:"\f01c"}
.blogicon-comment:before{
    content:"\f01d"}
.blogicon-import:before{
    content:"\f01e"}
.blogicon-odai:before{
    content:"\f01f"}
.blogicon-truck:before{
    content:"\f020"}
.blogicon-group:before{
    content:"\f021"}
.blogicon-folder:before{
    content:"\f022"}
.blogicon-add:before{
    content:"\f023"}
.blogicon-pen:before{
    content:"\f024"}
.blogicon-close:before{
    content:"\f025"}
.blogicon-trash:before{
    content:"\f026"}
.blogicon-bookmark:before{
    content:"\f027"}
.blogicon-redirect:before{
    content:"\f028"}
.blogicon-check:before{
    content:"\f029";
    color:#5aba90}
.blogicon-crop:before{
    content:"\f02a"}
.blogicon-repeat:before{
    content:"\f02b"}
.blogicon-logout:before{
    content:"\f02c"}
.blogicon-star:before{
    content:"\f02d"}
.blogicon-star-o:before{
    content:"\f720"}
.blogicon-pro:before{
    content:"\f02e"}
.blogicon-myblog:before{
    content:"\f030"}
.blogicon-recent:before{
    content:"\f031"}
.blogicon-info:before{
    content:"\f032"}
.blogicon-good:before{
    content:"\f033"}
.blogicon-amazon:before{
    content:"\f034"}
.blogicon-twitter:before{
    content:"\f035"}
.blogicon-facebook:before{
    content:"\f036"}
.blogicon-share:before{
    content:"\f037"}
.blogicon-code:before{
    content:"\f038"}
.blogicon-list:before{
    content:"\f039"}
.blogicon-calendar:before{
    content:"\f03a"}
.blogicon-bracket:before{
    content:"\f03b"}
.blogicon-photo:before{
    content:"\f03c"}
.blogicon-color:before{
    content:"\f03d"}
.blogicon-public:before{
    content:"\f03e"}
.blogicon-realtime-preview:before{
    content:"\f040"}
.blogicon-warning:before{
    content:"\f041"}
.blogicon-link:before{
    content:"\f042"}
.blogicon-time:before{
    content:"\f043"}
.blogicon-markdown:before{
    content:"\f044"}
.blogicon-evernote:before{
    content:"\f045"}
.blogicon-music:before{
    content:"\f046"}
.blogicon-niconico:before{
    content:"\f047"}
.blogicon-heart:before{
    content:"\f048"}
.blogicon-heart-alt:before{
    content:"\f049"}
.blogicon-tag:before{
    content:"\f04a"}
.blogicon-mail:before{
    content:"\f04b"}
.blogicon-help-alt:before{
    content:"\f04c"}
.blogicon-sushi:before{
    content:"\f04d"}
.blogicon-rss:before{
    content:"\f04e"}
.blogicon-smartphone:before{
    content:"\f051"}
.blogicon-laptop:before{
    content:"\f052"}
.blogicon-mixi:before{
    content:"\f053"}
.blogicon-haiku:before{
    content:"\f054"}
.blogicon-quote:before{
    content:"\f704"}
.blogicon-toggle-on:before{
    content:"\f71d"}
.blogicon-toggle-off:before{
    content:"\f71e"}
.blogicon-odaislot:before{
    content:"\f721"}
.blogicon-grid-3x3:before{
    content:"\f723"}
.blogicon-grid-vertical:before{
    content:"\f724"}
[class*=blogicon-editor-]{
    color:#9aa5ab}
.blogicon-editor-unorderedlist:before{
    content:"\f700"}
.blogicon-editor-orderedlist:before{
    content:"\f701"}
.blogicon-editor-link:before{
    content:"\f702"}
.blogicon-editor-seemore:before{
    content:"\f703"}
.blogicon-editor-blockquote:before{
    content:"\f704"}
.blogicon-editor-footnote:before{
    content:"\f705"}
.blogicon-editor-toolbar-show:before{
    content:"\f706"}
.blogicon-editor-toolbar-hide:before{
    content:"\f707"}
.blogicon-editor-bold:before{
    content:"\f708"}
.blogicon-editor-italic:before{
    content:"\f709"}
.blogicon-editor-strike:before{
    content:"\f70a"}
.blogicon-editor-underline:before{
    content:"\f70b"}
.blogicon-editor-fontsize:before{
    content:"\f70c"}
.blogicon-editor-color:before{
    content:"\f70d"}
.blogicon-editor-insert-toc:before{
    content:"\f725"}
.blogicon-fotolife:before{
    content:"\f711"}
.blogicon-curation-bar-toggle:before{
    content:"\f713"}
.blogicon-paint:before{
    content:"\f714"}
.blogicon-gourmet:before{
    content:"\f715"}
.blogicon-flickr:before{
    content:"\f716"}
.blogicon-gist:before{
    content:"\f717"}
.blogicon-pixiv:before{
    content:"\f718"}
.blogicon-miil:before{
    content:"\f719"}
.blogicon-youtube:before{
    content:"\f71a"}
.blogicon-instagram:before{
    content:"\f71b"}
.blogicon-google-picker:before{
    content:"\f71c"}
.blogicon-others:before{
    content:"\f710"}
.blogicon-rakuten:before{
    content:"\f722"}
.hatena-follow-button-box{
    clear:both;
    font-size:10px!important;
    height:20px;
    margin:.7em 0;
    display:block;
    *zoom:1}
.hatena-follow-button-box:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.hatena-follow-button{
    display:inline-block;
    *display:inline;
    *zoom:1;
    height:18px!important;
    padding-left:20px;
    padding-right:5px;
    min-width:40px;
    border:1px solid #bbb!important;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    transition:.3s ease;
    transition-property:opacity,border,color,background;
    -o-transition:.3s ease;
    -o-transition-property:opacity,border,color,background;
    -moz-transition:.3s ease;
    -moz-transition-property:opacity,border,color,background;
    -webkit-transition:.3s ease;
    -webkit-transition-property:opacity,border,color,background;
    line-height:18px!important;
    font-weight:700;
    text-decoration:none;
    color:#555!important;
    background:#ebebeb;
    float:left;
    letter-spacing:0!important;
    white-space:nowrap;
    -webkit-text-overflow:ellipsis;
    text-overflow:ellipsis;
    overflow:hidden}
.hatena-follow-button:hover{
    text-decoration:none!important}
.hatena-follow-button.unsubscribing{
    background:#f5f5f5 url(/images/theme/hatena-follow-button.png?version=4761c38ee37ae756cb190faa168483d1903ed164) no-repeat 0 0;
    background:url(/images/theme/hatena-follow-button.png?version=4761c38ee37ae756cb190faa168483d1903ed164) no-repeat 0 0,-o-linear-gradient(top,#fff 0,#ddd 100%)}
.hatena-follow-button.unsubscribing.hover{
    border:1px solid #888;
    color:#222!important}
.hatena-follow-button.subscribing{
    color:#2f81d5!important;
    background:#f5f5f5 url(/images/theme/hatena-follow-button.png?version=4761c38ee37ae756cb190faa168483d1903ed164) no-repeat 0 -18px;
    background:url(/images/theme/hatena-follow-button.png?version=4761c38ee37ae756cb190faa168483d1903ed164) no-repeat 0 -18px,-o-linear-gradient(top,#fff 0,#ddd 100%)}
.hatena-follow-button.subscribing.hover{
    width:65px;
    color:#fff!important;
    border:1px solid #666;
    background:#666 url(/images/theme/hatena-follow-button.png?version=4761c38ee37ae756cb190faa168483d1903ed164) no-repeat 0 -36px}
.hatena-follow-button-box .subscription-count-box{
    display:none;
    position:relative;
    float:left;
    margin:0 0 0 5px!important}
.hatena-follow-button-box i,.hatena-follow-button-box u{
    position:absolute;
    z-index:10;
    zoom:1;
    line-height:0;
    width:0;
    height:0;
    left:0;
    top:50%;
    margin:-4px 0 0 -4px;
    border:4px solid transparent;
    border-right-color:#bbb;
    border-left:0}
.hatena-follow-button-box u{
    margin-left:-3px;
    border-right-color:#fff}
.hatena-follow-button-box .subscription-count{
    float:left;
    border:1px solid #bbb;
    height:18px;
    line-height:18px;
    padding:0 5px;
    display:block;
    min-width:8px;
    font-size:12px;
    color:#454545!important;
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-left:-1px;
    position:relative;
    z-index:9;
    font-family:Helvetica,Ariel,sans-serif}
.hatena-module .hatena-follow-button .background,.hatena-module .hatena-follow-button.hover .foreground{
    display:none}
.hatena-module .hatena-follow-button.hover .background{
    display:inline}
.hatena-module .hatena-follow-button .friend,.hatena-module .hatena-follow-button .non-friend,.hatena-module .hatena-follow-button .subscribing,.hatena-module .hatena-follow-button .unsubscribing{
    display:none}
.hatena-module .hatena-follow-button.friend .friend,.hatena-module .hatena-follow-button.non-friend .non-friend,.hatena-module .hatena-follow-button.subscribing .subscribing,.hatena-module .hatena-follow-button.unsubscribing .unsubscribing{
    display:inline}
.tipsy{
    font-size:10px;
    position:absolute;
    z-index:100000}
.tipsy-inner{
    padding:5px 8px 4px;
    margin:5px;
    background-color:#3d3f44;
    color:#fff;
    max-width:200px;
    line-height:1.5;
    border-radius:3px}
.tipsy-arrow{
    position:absolute;
    background:#3d3f44;
    width:8px;
    height:8px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)}
.tipsy-n .tipsy-arrow{
    top:2px;
    left:50%;
    margin-left:-4px}
.tipsy-nw .tipsy-arrow{
    top:2px;
    left:10px}
.tipsy-ne .tipsy-arrow{
    top:2px;
    right:10px}
.tipsy-s .tipsy-arrow{
    bottom:2px;
    left:50%;
    margin-left:-4px}
.tipsy-sw .tipsy-arrow{
    bottom:2px;
    left:10px}
.tipsy-se .tipsy-arrow{
    bottom:2px;
    right:10px}
.tipsy-e .tipsy-arrow{
    top:50%;
    margin-top:-4px;
    right:2px}
.tipsy-w .tipsy-arrow{
    top:50%;
    margin-top:-4px;
    left:2px}
.tipsy-inner a{
    color:#fff}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section{
    display:block}
body,html{
    margin:0;
    padding:0}
img{
    border:none}
.leave-comment-title{
    cursor:pointer;
    display:none}
#footer address{
    font-style:normal}
#globalheader{
    height:37px}
#globalheader-container{
    position:relative;
    z-index:9999}
.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content h5,.entry-content h6,.entry-footer{
    clear:both}
.entry-content .keyword{
    color:inherit!important;
    _color:expression(this.parentNode.currentStyle.color);
    font-weight:inherit!important;
    font-style:inherit!important;
    font-size:100%;
    pointer-events:auto!important;
    cursor:pointer!important}
.entry-content iframe{
    max-width:100%}
.entry-content table{
    max-width:none}
.entry-content img{
    max-width:100%}
.entry-content a{
    word-wrap:break-word}
.entry-content .hatena-id-icon,.entry-content .http-favicon{
    margin-right:.2em;
    vertical-align:middle}
.entry-content .http-bookmark,.entry-content .http-star{
    margin:0 .1em;
    vertical-align:middle}
.entry-content .instagram-iframe{
    width:600px;
    height:640px}
.entry-content blockquote{
    position:relative}
.pocket-btn{
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top}
#box2{
    word-wrap:break-word}
#box2 img{
    max-width:100%;
    height:auto}
img.photo{
    float:right;
    margin:.8em 0 1em 1em}
div.footnote{
    font-size:90%;
    margin-top:3em}
p.footnote{
    margin:.5em 0;
    line-height:1.5}
.read-more-comments{
    text-align:center;
    list-style-type:none}
.read-more-comments a{
    cursor:pointer}
.entry-comment{
    position:relative}
.entry-comment .hatena-id-icon{
    width:16px;
    height:16px}
.entry-comment .comment-delete-button img{
    display:none;
    position:absolute;
    top:8px;
    right:8px;
    text-align:right}
.entry-comment:hover .comment-delete-button img{
    display:block}
.comment-content img{
    max-width:100%}
.quote-stars{
    margin-top:8px}
.quote-stars .quote-description{
    margin-bottom:13px}
.quote-stars .quote-star{
    margin-bottom:9px}
.quote-stars .quote-text{
    color:#aaa;
    font-style:italic;
    display:inline}
.quote-star-show{
    cursor:pointer;
    margin-bottom:6px;
    display:inline-block;
    zoom:1;
    *display:inline;
    padding:5px;
    background:#f5f5f5;
    border:1px solid #ccc;
    border-radius:0;
    width:71px;
    text-align:center}
.quote-star-show:hover{
    border-color:#bbb;
    background-color:#eee;
    text-decoration:none!important}
.quote-star-show .quote-star-show-text{
    font-size:10px}
.star-delete-button{
    cursor:pointer;
    position:absolute;
    width:11px;
    height:11px;
    z-index:120}
img.hatena-fotolife{
    cursor:pointer}
.hatena-image-right{
    float:right;
    margin:0 0 1em 1em}
.hatena-image-left{
    float:left;
    margin:0 1em 1em 0}
pre{
    overflow:auto;
    overflow-y:hidden}
pre.code{
    font-family:Monaco,Consolas,Courier New,Courier,monospace,sans-serif}
.gist,.gist .line-numbers,.gist .line-pre{
    line-height:1.4}
.gist .line-data{
    border:0}
.gist .line,.gist .line-number{
    height:1.4em}
.gist pre{
    border-radius:none;
    -webkit-border-radius:none;
    -moz-border-radius:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    font-size:inherit!important;
    box-shadow:none!important;
    -moz-box-shadow:none!important;
    -webkit-box-shadow:none!important}
.footnote-delimiter{
    padding-right:.5em}
.synSpecial{
    color:#c000c0}
.synType{
    color:#3ec63e}
.synComment{
    color:#4f80e5}
.synPreProc{
    color:#9355e6}
.synIdentifier{
    color:#51cfcf}
.synConstant{
    color:#f66}
.synStatement{
    color:#d88a17}
pre.lang-aa{
    font-family:Mona,IPA MONAPGOTHIC,MS PGothic,ＭＳ\ Ｐゴシック,MS Pｺﾞｼｯｸ,MS Pゴシック,sans-serif;
    font-size:12pt;
    line-height:18px;
    padding:0;
    background:transparent;
    border-radius:none;
    -webkit-border-radius:none;
    -moz-border-radius:none;
    box-shadow:none}
.entry-content pre>code{
    margin:0;
    padding:0;
    white-space:pre;
    border:0;
    background:transparent}
.entry-content code,.entry-content pre>code{
    font-family:Monaco,Consolas,Courier New,Courier,monospace,sans-serif}
.entry-content code{
    font-size:90%;
    margin:0 2px;
    padding:0 5px;
    border:1px solid rgba(0,0,0,.08);
    background-color:rgba(0,0,0,.03);
    border-radius:3px}
.hatena-asin-detail{
    margin:1em 0;
    border-image:initial;
    font-size:90%;
    display:block;
    *zoom:1}
.hatena-asin-detail:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.hatena-asin-detail .hatena-asin-detail-image{
    float:left;
    margin-right:15px}
.hatena-asin-detail .hatena-asin-detail-title{
    margin-top:0;
    font-weight:700;
    margin:0 0 .3em}
.hatena-asin-detail p{
    text-indent:0}
.hatena-asin-detail ul{
    margin:0;
    padding:0}
.hatena-asin-detail ul li{
    list-style:none}
.hatena-asin-detail .hatena-asin-detail-foot{
    clear:left}
.hatena-asin-detail,.itunes-embed{
    padding:.8em .6em;
    border:1px solid #ddd}
.itunes-embed{
    margin:1em 0;
    border-image:initial;
    font-size:90%;
    display:block;
    *zoom:1}
.itunes-embed:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.itunes-embed .itunes-embed-image{
    float:left;
    margin-right:15px;
    max-width:100px}
.itunes-embed .itunes-embed-title{
    margin-top:0;
    font-weight:700;
    margin:0 0 .3em}
.itunes-embed p{
    text-indent:0}
.itunes-embed .itunes-embed-info ul{
    margin:0;
    padding:0}
.itunes-embed .itunes-embed-info ul li{
    line-height:1.5;
    list-style:none}
.itunes-embed .itunes-embed-preview{
    margin:.5em 0}
.itunes-embed.itunes-kind-software .itunes-embed-image{
    -webkit-border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:15px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    border-top-right-radius:15px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    border-radius:15px;
    background-clip:padding-box}
.hatena-citation{
    font-style:normal;
    font-size:90%;
    opacity:.75;
    display:block}
div.twitter-tweet{
    text-align:left;
    margin:0;
    border-bottom:1px solid #ddd}
p.twitter-tweet-info{
    font-size:.85em}
div.twitter-tweet p.twitter-tweet-info,div.twitter-tweet p.twitter-tweet-text{
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0}
div.twitter-detail{
    overflow:hidden;
    text-align:left;
    margin:0;
    border-bottom:1px solid #ddd}
div.twitter-detail:after{
    content:".";
    font-size:.1em;
    line-height:0;
    display:block;
    height:.1px;
    visibility:hidden;
    clear:both}
div.twitter-detail-user{
    margin:auto;
    width:58px}
div.twitter-detail-left div.twitter-detail-user{
    text-align:left}
div.twitter-detail-right div.twitter-detail-user{
    text-align:right}
div.twitter-detail-left div.twitter-detail-user,div.twitter-detail div.twitter-detail-user{
    float:left}
div.twitter-detail-right div.twitter-detail-user{
    float:right}
div.twitter-detail-tweet{
    margin-left:60px;
    margin-right:60px}
div.twitter-detail div.twitter-detail-tweet{
    _height:1%}
div.twitter-detail-tweet p.twitter-detail-info,div.twitter-detail-tweet p.twitter-detail-text{
    clear:none;
    line-height:1.4}
div.twitter-detail-tweet p.twitter-detail-text{
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0}
p.twitter-detail-info{
    font-size:.85em;
    margin-top:.3em;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:6px}
div.twitter-tweet-wrapper{
    overflow:hidden}
div.twitter-tweet-wrapper div.twitter-tweet span.twitter-tweet-info-date,div.twitter-tweet-wrapper div.twitter-tweet span.twitter-tweet-text-user{
    display:none}
div.tweet-images{
    width:95%;
    margin-left:auto;
    margin-right:auto}
a.twitter-entry-icon img,a.twitter-header-icon img{
    border:none}
.social-buttons .social-button-item{
    display:inline-block;
    vertical-align:top;
    margin-right:.2em;
    margin-bottom:5px;
    position:relative}
.fb_iframe_widget>span{
    vertical-align:baseline!important}
.social-button-twitter-balloon{
    position:relative;
    background:#fff;
    border:1px solid #bbb;
    border-bottom:none;
    border-radius:3px 3px 0 0;
    min-height:18px;
    min-width:15px;
    text-align:center;
    display:block;
    width:100%;
    height:20px;
    text-decoration:none;
    color:#3d3f44;
    -ms-box-sizing:border-box;
    box-sizing:border-box}
.social-button-twitter-balloon:hover{
    color:#339bc3}
.hatena-star-container{
    margin-bottom:8px;
    min-height:24px}
.hatena-star-add-button{
    margin:1px!important}
.hatena-big-star-star-container{
    display:inline-block;
    position:relative;
    width:20px;
    height:20px;
    margin:2px;
    vertical-align:middle;
    border-radius:2px;
    overflow:hidden}
.hatena-star-user{
    width:20px;
    height:20px;
    top:0;
    z-index:10;
    border-radius:3px}
.hatena-big-star-star-container>.hatena-star-star,.hatena-star-user{
    position:absolute;
    left:0;
    margin:0;
    padding:0;
    margin-bottom:0!important}
.hatena-big-star-star-container>.hatena-star-star{
    bottom:0;
    z-index:11;
    background:hsla(0,0%,100%,.8);
    border-top-right-radius:2px;
    border-bottom-left-radius:2px}
.hatena-star-comment-container{
    display:none}
.hatena-star-comment-container.hatena-star-comment-active{
    display:inline}
.profile-activities{
    margin-top:.3em;
    margin-bottom:.3em;
    font-style:italic;
    font-size:90%;
    opacity:.7}
.profile-activities .profile-running-duration.is-hidden{
    display:none}
.recent-comments,.recent-comments .user-id img{
    word-wrap:break-word;
    word-break:break-all}
.recent-comments .user-id img{
    vertical-align:text-bottom;
    margin-right:3px}
.recent-comments .recent-comment-time{
    filter:alpha(opacity=70);
    -moz-opacity:.7;
    opacity:.7;
    font-style:italic;
    font-size:90%}
.urllist-date-link{
    font-size:85%}
.urllist-title-link{
    font-size:110%}
.urllist-category-link{
    font-size:85%;
    margin-right:.5em}
.urllist-entry-body{
    font-size:90%;
    line-height:1.5}
.urllist-with-thumbnails li{
    display:block;
    *zoom:1}
.urllist-with-thumbnails li:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.urllist-with-thumbnails li .urllist-image{
    margin:0 .7em .7em 0;
    float:left}
.hatena-module-archive .hatena-urllist{
    padding-left:0;
    margin-left:0}
.hatena-urllist .archive-module-year{
    list-style-type:none;
    margin:0;
    padding-left:0;
    line-height:1.5;
    background:none}
.hatena-urllist .archive-module-year:after,.hatena-urllist .archive-module-year:before{
    content:none!important}
.hatena-urllist .archive-module-year .archive-module-button{
    opacity:.6}
.hatena-urllist .archive-module-year .archive-module-months{
    padding-left:0;
    margin-left:0;
    background:none}
.hatena-urllist .archive-module-year .archive-module-month{
    margin:0 0 0 2.5em;
    padding:0;
    border:none;
    list-style-type:none!important;
    background:none}
.hatena-urllist .archive-module-year .archive-module-month:after,.hatena-urllist .archive-module-year .archive-module-month:before{
    content:none!important}
.archive-module-calendar{
    text-align:center}
.archive-module-calendar .archive-module-calendar-selector{
    display:inline-block;
    margin-bottom:1em}
.archive-module-calendar table{
    width:100%;
    table-layout:fixed;
    border-collapse:collapse;
    border-spacing:0}
.archive-module-calendar th{
    font-size:.8em;
    text-align:center;
    padding:.3em 0}
.archive-module-calendar .archive-module-calendar-week td{
    text-align:center}
.facebook-follow-button{
    display:inline-block;
    padding-left:20px;
    padding-right:5px;
    border:1px solid #cad4e7;
    border-radius:4px;
    -moz-border-radius:4px;
    height:20px;
    line-height:20px;
    background:url(/images/admin/curation/services/facebook.png?version=35559c5460d860010932d703fc551248af4939fd) no-repeat 2px #eceef5;
    text-decoration:none;
    color:#3c5995!important;
    font-weight:700}
.facebook-follow-button:hover{
    border:1px solid #9dacce;
    text-decoration:none}
.cannot-facebook-follow,.cannot-twitter-button{
    display:none}
.cannot-facebook-follow-display,.cannot-twitter-button-display{
    display:inline}
.hatena-module-recent-comments .hatena-id-icon{
    width:16px;
    height:16px}
#entry-footer-secondary-modules .hatena-module{
    width:auto;
    float:none}
.google-afc-image,.google-afc-image .google-afc-user-container,.google-afc-text,.google-afc-text .google-afc-user-container,.google-dfp,.google-dfp .google-afc-user-container,.touch-afc-block,.touch-afc-block .google-afc-user-container{
    display:block!important;
    visibility:visible!important;
    width:auto!important;
    height:auto!important;
    opacity:1!important;
    position:static!important;
    filter:alpha(opacity=100)!important}
.google-afc-image *{
    opacity:1!important;
    filter:alpha(opacity=100)!important}
.google-afc-image,.google-afc-text{
    font-size:16px;
    margin:0 0 1em;
    clear:both;
    font-family:Helvetica,Arial,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,sans-serif;
    position:relative}
.google-afc-image a,.google-afc-image a:hover,.google-afc-text a,.google-afc-text a:hover{
    border:none}
.google-afc-image div#google_#google_afc_user_user_container,.google-afc-text div#google_#google_afc_user_user_container{
    min-height:12em!important;
    margin-left:1em;
    margin-right:1em}
.google-afc-image div.google_ads_by,.google-afc-text div.google_ads_by{
    font-size:.8em;
    margin:0 0 .8em}
.google-afc-image ul,.google-afc-text ul{
    font-size:100%;
    list-style:none outside none;
    margin:0 0 5px;
    padding:0}
.google-afc-image li,.google-afc-text li{
    background:none repeat scroll 0 0 transparent;
    list-style-image:none;
    list-style-type:none;
    margin:0 0 2em!important;
    padding:0}
.google-afc-image .google_ads_by a,.google-afc-text .google_ads_by a{
    display:inline!important;
    text-decoration:none;
    border:medium none;
    filter:alpha(opacity=60);
    -moz-opacity:.6;
    opacity:.6;
    margin-bottom:.5em}
.google-afc-image ul .title,.google-afc-text ul .title{
    font-size:100%;
    font-weight:700;
    margin:0;
    line-height:1.2em;
    display:block!important}
.google-afc-image ul .title a,.google-afc-text ul .title a{
    letter-spacing:.3em;
    font-size:17px!important;
    text-decoration:underline;
    padding:.5em 0}
.google-afc-image ul .summary,.google-afc-text ul .summary{
    display:inline!important;
    font-size:13px!important;
    line-height:1em;
    margin:.2em .5em 0 0;
    filter:alpha(opacity=60);
    -moz-opacity:.6;
    opacity:.6;
    letter-spacing:0}
.google-afc-image ul .visible_url,.google-afc-text ul .visible_url{
    font-size:.8em;
    margin-left:0}
.google-afc-image ul .visible_url a,.google-afc-text ul .visible_url a{
    font-size:13px!important;
    border:medium none;
    font-weight:400;
    text-decoration:none;
    letter-spacing:2px;
    padding:.5em 0}
.google-afc-image .visible_url a:hover,.google-afc-text .visible_url a:hover{
    text-decoration:underline}
.google-afc-image p.google_afc_inactive_notice,.google-afc-text p.google_afc_inactive_notice{
    font-size:.9em;
    margin-top:0;
    margin-right:1em;
    margin-left:1em;
    padding-top:0;
    text-align:right}
.google-afc-image p.google_afc_inactive_notice a,.google-afc-text p.google_afc_inactive_notice a{
    text-decoration:underline}
.google-afc-image .open-pro-modal,.google-afc-text .open-pro-modal{
    display:inline-block;
    font-size:12px;
    padding-top:4px}
.browsing-with-smartphone .ad-online-afc{
    margin-bottom:1em}
.ad-online-afc .adsbygoogle{
    text-align:center;
    margin:auto;
    text-decoration:none}
.ad-online-afc .yads_ad{
    margin:10px 0;
    text-align:left}
.ad-online-afc .yads_ad a{
    text-decoration:none}
.ad-online-afc .yads_ad>a{
    display:block;
    height:83px}
.ad-online-afc .yads_ad .yads_ad_img{
    width:76px;
    height:76px;
    background-size:contain;
    float:right;
    margin-left:5px}
.ad-online-afc .yads_ad .yads_ad_info a{
    line-height:13px}
.ad-online-afc .yads_ad .yads_ad_info span{
    font-size:11px}
.ad-online-afc .yads_ad .yads_ad_info img{
    vertical-align:middle;
    margin-left:3px}
.ad-online-afc .yads_ad .yads_ad_title{
    font-size:19px;
    font-weight:700;
    letter-spacing:1px;
    line-height:1.5;
    text-decoration:underline}
.ad-online-afc .yads_ad .yads_ad_adv{
    font-size:12px;
    font-weight:700;
    line-height:14px;
    letter-spacing:3px;
    padding-top:6px}
.sleeping-ad{
    min-height:250px}
.browsing-with-smartphone .sleeping-ad{
    min-height:50px}
.sleeping-ad>div,.sleeping-ad iframe{
    display:inline-block!important}
.entry.sleeping-ads{
    margin-bottom:2em}
.entry.sleeping-ads .sleeping-ads-notice{
    font-size:.9em;
    margin:.5em 0 0}
#cboxOverlay,#cboxWrapper,#colorbox{
    position:absolute;
    top:0;
    left:0;
    z-index:9999;
    overflow:hidden}
#cboxOverlay{
    position:fixed;
    width:100%;
    height:100%}
#cboxBottomLeft,#cboxMiddleLeft{
    clear:left}
#cboxContent{
    position:relative}
#cboxLoadedContent{
    overflow:auto;
    -webkit-overflow-scrolling:touch}
#cboxTitle{
    margin:0}
#cboxLoadingGraphic,#cboxLoadingOverlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%}
#cboxClose,#cboxNext,#cboxPrevious,#cboxSlideshow{
    cursor:pointer}
.cboxPhoto{
    float:left;
    margin:auto;
    border:0;
    display:block;
    max-width:none}
.cboxIframe{
    width:100%;
    height:100%;
    display:block;
    border:0}
#cboxContent,#cboxLoadedContent,#colorbox{
    box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box}
#cboxOverlay{
    background:#fff}
#colorbox{
    outline:0}
#colorbox #cboxContent{
    margin-top:32px;
    overflow:visible}
#colorbox #cboxContent .cboxIframe{
    background:#fff}
#colorbox #cboxContent #cboxError{
    padding:50px;
    border:1px solid #ccc}
#colorbox #cboxContent #cboxLoadedContent{
    padding:1px}
#colorbox #cboxContent #cboxLoadingGraphic{
    background:url(/images/loading.gif?version=0667b52b10bfe31c29307364314cf0bd38294f0a) no-repeat 50%}
#colorbox #cboxContent #cboxLoadingOverlay{
    background:#000}
#colorbox #cboxContent #cboxTitle{
    position:absolute;
    top:-22px;
    left:0;
    color:#000}
#colorbox #cboxContent #cboxCurrent{
    position:absolute;
    top:-22px;
    right:205px;
    text-indent:-9999px}
#colorbox #cboxContent #cboxClose,#colorbox #cboxContent #cboxNext,#colorbox #cboxContent #cboxPrevious,#colorbox #cboxContent #cboxSlideshow{
    border:0;
    padding:0;
    margin:0;
    overflow:visible;
    text-indent:-9999px;
    width:20px;
    height:20px;
    position:absolute;
    top:-20px;
    background:url(/images/controls.png?version=bbfcfeb10d2d99dddaf970dedc34d4b50246b361) no-repeat 0 0}
#colorbox #cboxContent #cboxClose:active,#colorbox #cboxContent #cboxNext:active,#colorbox #cboxContent #cboxPrevious:active,#colorbox #cboxContent #cboxSlideshow:active{
    outline:0}
#colorbox #cboxContent #cboxPrevious{
    background-position:0 0;
    right:44px}
#colorbox #cboxContent #cboxPrevious:hover{
    background-position:0 -25px}
#colorbox #cboxContent #cboxNext{
    background-position:-25px 0;
    right:22px}
#colorbox #cboxContent #cboxNext:hover{
    background-position:-25px -25px}
#colorbox #cboxContent #cboxClose{
    background-position:-50px 0;
    right:0}
#colorbox #cboxContent #cboxClose:hover{
    background-position:-50px -25px}
#colorbox #cboxContent .cboxSlideshow_off #cboxPrevious,#colorbox #cboxContent .cboxSlideshow_on #cboxPrevious{
    right:66px}
#colorbox #cboxContent .cboxSlideshow_on #cboxSlideshow{
    background-position:-75px -25px;
    right:44px}
#colorbox #cboxContent .cboxSlideshow_on #cboxSlideshow:hover{
    background-position:-100px -25px}
#colorbox #cboxContent .cboxSlideshow_off #cboxSlideshow{
    background-position:-100px 0;
    right:44px}
#colorbox #cboxContent .cboxSlideshow_off #cboxSlideshow:hover{
    background-position:-75px -25px}
.page-about .entry-content img.profile-icon{
    height:16px;
    width:16px}
.page-archive .bookmark-widget-counter{
    text-decoration:none}
.page-archive .bookmark-widget-counter img{
    vertical-align:middle}
.page-archive .archive-entry{
    display:block;
    *zoom:1}
.page-archive .archive-entry:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.page-archive .entry-thumb{
    width:120px;
    height:120px;
    float:left;
    margin-right:10px}
.page-archive span.highlight{
    background-color:#ffff8c;
    font-weight:700;
    padding:.1em .2em;
    font-style:inherit;
    margin:.2em;
    color:#333;
    border:1px solid rgba(0,0,0,.15);
    border-radius:3px;
    -ms-box-sizing:border-box;
    box-sizing:border-box}
.archive-header-category{
    margin-bottom:3em}
.archive-header-category .archive-heading{
    margin-bottom:.5em;
    font-size:1.3rem}
.header-image-enable #blog-title,.header-image-enable #blog-title #blog-description,.header-image-enable #blog-title #title{
    background:transparent}
.header-image-enable #blog-title #blog-title-inner{
    background-repeat:no-repeat;
    position:relative;
    height:200px}
.header-image-enable #blog-title #title a{
    color:#fff;
    -moz-text-shadow:0 0 20px #000;
    -webkit-text-shadow:0 0 20px #000;
    text-shadow:0 0 20px #000}
.header-image-enable #blog-title #blog-description{
    font-weight:700;
    color:#fff;
    -moz-text-shadow:0 0 10px #000;
    -webkit-text-shadow:0 0 10px #000;
    text-shadow:0 0 10px #000}
.header-image-only #blog-title,.header-image-only #blog-title #blog-description,.header-image-only #blog-title #title{
    background:transparent}
.header-image-only #blog-title #blog-title-inner{
    background-repeat:no-repeat;
    position:relative;
    height:200px}
.header-image-only #blog-title #title a{
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0}
.header-image-only #blog-title #blog-description{
    visibility:hidden}
.welcome-tooltip-newentry{
    position:absolute;
    z-index:100;
    width:180px;
    height:60px;
    top:40px;
    right:200px;
    background:#4eacd1;
    padding:10px;
    font-size:80%;
    line-height:1.5em;
    color:#fff;
    text-align:left;
    border-radius:5px;
    box-shadow:0 2px 5px rgba(0,0,0,.3);
    -moz-box-shadow:0 2px 5px rgba(0,0,0,.3);
    -webkit-box-shadow:0 2px 5px rgba(0,0,0,.3);
    cursor:pointer}
.welcome-tooltip-newentry:before{
    content:"";
    position:absolute;
    border-bottom:5px solid #4eacd1;
    border-right:5px solid transparent;
    border-left:5px solid transparent;
    top:-5px;
    right:95px}
.welcome-tooltip-newentry p{
    margin:0 0 5px}
.star-navigation-tooltip{
    position:relative;
    width:180px;
    height:60px;
    background:#4eacd1;
    padding:10px;
    font-size:80%;
    line-height:1.5em;
    color:#fff;
    text-align:left;
    border-radius:5px;
    box-shadow:0 2px 5px rgba(0,0,0,.3);
    -moz-box-shadow:0 2px 5px rgba(0,0,0,.3);
    -webkit-box-shadow:0 2px 5px rgba(0,0,0,.3);
    cursor:pointer}
.star-navigation-tooltip:before{
    content:"";
    position:absolute;
    border-bottom:5px solid #4eacd1;
    border-right:5px solid transparent;
    border-left:5px solid transparent;
    top:-5px;
    left:10px}
.star-navigation-tooltip p{
    font-size:12px!important;
    line-height:1.4!important;
    margin:0!important}
.quote-box{
    position:absolute;
    display:none;
    z-index:3000;
    width:32px;
    height:118px;
    overflow:hidden}
.tooltip-quote{
    opacity:.6;
    display:none;
    width:32px;
    height:32px;
    margin-bottom:8px;
    background-color:rgba(0,0,0,.6);
    border-radius:50%;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none}
.tooltip-quote:hover{
    background-color:#000}
.tooltip-quote i{
    color:#fff;
    line-height:32px;
    font-size:16px}
.tooltip-quote.tooltip-quote-star:active i{
    color:#ffb638}
.quote-stock-panel .error-box,.quote-stock-panel .message-box{
    min-width:200px;
    box-shadow:0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow:0 2px 4px rgba(0,0,0,.2);
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.2)}
.quote-stock-panel .btn{
    display:inline-block;
    padding:4px 10px;
    line-height:18px;
    color:#3d3f44;
    background-color:#f7f8f9;
    border:1px solid #dfe5e7;
    -webkit-border-top-right-radius:2px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:2px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    border-top-right-radius:2px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    border-radius:2px;
    background-clip:padding-box;
    cursor:pointer;
    font-size:12px;
    text-decoration:none;
    font-weight:700;
    -webkit-appearance:none}
.quote-stock-panel .btn:hover{
    border-color:#ccc;
    background-color:#eef0f2;
    text-decoration:none!important}
.quote-stock-panel .btn-primary{
    color:#fff;
    background-color:#4eacd1;
    border-color:#4eacd1}
.quote-stock-panel .btn-primary:hover{
    background-color:#339bc3;
    border-color:#339bc3}
.message-box{
    font-size:12px;
    line-height:1.5;
    color:#3d3f44;
    padding:.8em;
    margin:.5em 0 1em;
    background-color:#f5fdfd;
    border-left:5px solid #4eacd1;
    z-index:3000}
.message-box p{
    margin:0 0 .8em}
.message-box a{
    font-weight:400}
.message-box h3{
    font-size:14px;
    font-weight:700;
    margin-bottom:.5em}
.error-box{
    font-size:12px;
    line-height:1.5;
    color:#3d3f44;
    padding:.8em;
    margin:.5em 0 1em;
    background-color:#fdf5f5;
    border-left:5px solid #e0716d;
    z-index:3000}
.error-box a{
    font-weight:400}
.requote-button{
    position:absolute;
    bottom:.5em;
    right:.5em;
    z-index:3000;
    display:none}
.requote-button .requote-button-btn{
    opacity:.3;
    width:28px;
    height:28px;
    padding:0;
    line-height:1;
    border:none;
    background-color:#000;
    border-radius:50%;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none}
.requote-button .requote-button-btn:hover{
    opacity:.5}
.requote-button .requote-button-btn i{
    color:#fff;
    line-height:28px;
    font-size:14px}
.requote-button.is-visible{
    display:block}
.title-star-container{
    display:inline-block;
    margin-left:4px}
.title-star-container .title-star-count{
    height:14px}
.title-star-container .title-star-add-button{
    font-size:26px;
    display:inline;
    cursor:pointer}
.hatena-module-body .circle-urllist li{
    display:block;
    *zoom:1}
.hatena-module-body .circle-urllist li:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.hatena-module-body .circle-urllist .circle-image{
    width:48px;
    height:48px;
    float:left;
    margin:0 10px 0 0}
.hatena-module-body .authors-urllist li{
    display:block;
    *zoom:1}
.hatena-module-body .authors-urllist li:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.hatena-module-body .authors-urllist .authors-user-icon{
    width:48px;
    height:48px;
    float:left;
    margin:0 10px 0 0}
.hatena-module-body .archive-module-button{
    display:inline}
.hatena-module-body .archive-module-show-button{
    cursor:pointer;
    display:none}
.hatena-module-body .archive-module-hide-button{
    cursor:pointer}
.hatena-module-body .archive-module-year-hidden .archive-module-months{
    display:none}
.hatena-module-body .archive-module-year-hidden .archive-module-show-button{
    display:inline}
.hatena-module-body .archive-module-year-hidden .archive-module-hide-button{
    display:none}
.related-entries{
    font-size:100%}
.related-entries h2{
    margin:0 0 .8em}
.related-entries .related-entries-list{
    margin:0;
    padding:0}
.related-entries .related-entries-list li{
    list-style:none;
    margin-bottom:10px;
    display:block;
    *zoom:1}
.related-entries .related-entries-list li:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.related-entries .related-entry-title{
    font-size:120%;
    font-weight:700}
.related-entries .related-thumb{
    width:120px;
    height:120px;
    float:left;
    margin:0 10px 10px 0}
.hatena-module-search-top-box .search-form{
    border:1px solid;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    border-top-right-radius:3px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    border-radius:3px;
    background-clip:padding-box;
    width:200px;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    float:right;
    position:relative}
.hatena-module-search-top-box .search-module-input{
    padding:5px;
    background:none;
    border:none;
    outline:none;
    height:20px;
    width:90%}
.hatena-module-search-top-box .search-module-button{
    width:20px;
    height:20px;
    background:transparent url(/images/theme/search.png?version=5ce19ab982799e9f1225e7acae034e9d43b6e6b6) no-repeat 100%;
    border:none;
    outline:none;
    text-indent:-9999px;
    position:absolute;
    top:5px;
    right:5px;
    -moz-opacity:.5;
    opacity:.5;
    -khtml-opacity:.5;
    -webkit-opacity:.5;
    filter:alpha(opacity=50)}
.hatena-module-search-top-box .search-module-button:hover{
    -moz-opacity:.85;
    opacity:.85;
    -khtml-opacity:.85;
    -webkit-opacity:.85;
    filter:alpha(opacity=85)}
.search-result{
    margin-bottom:3em}
.search-result-form{
    border:1px solid rgba(0,0,0,.15);
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    border-top-right-radius:3px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    border-radius:3px;
    background-clip:padding-box;
    max-width:20em;
    box-sizing:border-box;
    position:relative;
    background-color:hsla(0,0%,100%,.8)}
.search-result-form .search-result-input{
    padding:5px;
    color:#333;
    background:none;
    border:none;
    outline:none;
    height:20px;
    width:90%}
.search-result-form .search-result-button{
    width:20px;
    height:20px;
    background:transparent url(/images/theme/search.png?version=5ce19ab982799e9f1225e7acae034e9d43b6e6b6) no-repeat 100%;
    border:none;
    outline:none;
    text-indent:-9999px;
    position:absolute;
    top:5px;
    right:5px;
    -moz-opacity:.5;
    opacity:.5;
    -khtml-opacity:.5;
    -webkit-opacity:.5}
.search-result-form .search-result-button:hover{
    -moz-opacity:.85;
    opacity:.85;
    -khtml-opacity:.85;
    -webkit-opacity:.85}
.preview-draft-modal{
    color:#3d3f44;
    background-color:#fff;
    position:fixed;
    top:64px;
    left:50%;
    margin-left:-225px;
    padding:1em;
    width:450px;
    box-sizing:border-box;
    box-shadow:0 5px 10px rgba(0,0,0,.15);
    background:#fff;
    text-align:center;
    z-index:100;
    line-height:1.5}
.preview-draft-modal.is-hidden{
    display:none}
.preview-draft-modal .preview-draft-modal-heading{
    font-size:100%;
    margin-bottom:1em;
    font-weight:700}
.preview-draft-modal .preview-draft-modal-notices{
    font-size:80%;
    text-align:left;
    margin:1em 0;
    padding:0 0 0 2em}
.preview-draft-modal .preview-draft-modal-help{
    text-align:right;
    font-size:.8em}
.preview-draft-modal .preview-draft-modal-btn{
    display:inline-block;
    padding:4px 10px;
    line-height:18px;
    color:#3d3f44;
    background-color:#f7f8f9;
    border:1px solid #dfe5e7;
    -webkit-border-top-right-radius:2px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;
    -moz-border-radius-topright:2px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    border-top-right-radius:2px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    border-radius:2px;
    background-clip:padding-box;
    cursor:pointer;
    font-size:12px;
    text-decoration:none;
    font-weight:700;
    -webkit-appearance:none}
.preview-draft-modal .preview-draft-modal-btn:hover{
    border-color:#ccc;
    background-color:#eef0f2;
    text-decoration:none!important}
#hidden-subscribe-button{
    display:none}
.page-entry .breadcrumb{
    margin-bottom:2em}
.breadcrumb-gt{
    opacity:.7;
    margin:auto .4em}
#globalheader{
    position:relative;
    z-index:99;
    width:100%;
    border:none;
    font-family:-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif}
#globalheader-container{
    height:37px;
    width:100%;
    z-index:99}
.browsing-with-smartphone #globalheader-container,.browsing-with-smartphone #globalheader-container iframe#globalheader{
    height:44px}
.globalheader-fixed{
    margin-top:37px}
.globalheader-fixed #globalheader-container{
    width:100%;
    position:fixed;
    z-index:9999;
    top:0;
    left:0}
.hatena-globalheader-window{
    position:fixed;
    top:37px;
    right:100px;
    width:150px;
    height:315px;
    margin:0;
    padding:0;
    border:1px solid #ccc;
    background:#fff;
    font-size:75%;
    z-index:9999;
    box-shadow:0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow:0 2px 4px rgba(0,0,0,.2);
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.2)}
.hatena-globalheader-window iframe{
    width:100%;
    height:100%}
.hatena-globalheader-window.message{
    font-weight:700;
    font-size:100%;
    font-size:13px;
    line-height:30px;
    margin:0 0 20px;
    padding:5px 10px 5px 35px;
    border:1px solid #c6c3ff;
    background:#eff3ff url(/images/admin/check.png?version=54e3b154276a9daca184174c7d95862d561bc819) no-repeat 7px 7px;
    color:#454545}
.hatena-globalheader-window.message a{
    color:#4eacd1}
#notify-window{
    width:250px}
#hatena-diary-dropdown-blogmenu,#hatena-diary-dropdown-mymenu,.hatena-diary-dropdown-myblogs{
    width:200px}
#hatena-diary-feedback{
    position:fixed;
    padding:0;
    margin:0;
    top:37px;
    right:188px;
    border:1px solid #ccc;
    background:#fff;
    z-index:9999}
#header-container #sp-suggest{
    background:#3d3f44;
    padding:1em;
    text-align:center}
#header-container #sp-suggest a{
    display:inline-block;
    color:#3d3f44;
    background:#fff;
    padding:1em;
    border-radius:.5em;
    text-decoration:none}
@media (min-width:300px){
    #header-container #sp-suggest a{
        font-size:16px}
}
@media (min-width:900px){
    #header-container #sp-suggest{
        padding:3em;
        text-align:center}
    #header-container #sp-suggest a{
        font-size:50px;
        padding:1em;
        border-radius:.5em}
}
.hatena-iframe-container{
    position:fixed;
    top:37px;
    padding:0;
    margin:0;
    border:1px solid #ccc;
    overflow:hidden;
    background:#fff;
    z-index:9999}
.hatena-iframe-container .loading{
    display:block;
    position:absolute;
    margin:0;
    padding:10% 0;
    width:100%;
    height:100%;
    line-height:100%;
    text-align:center;
    background:#fff;
    opacity:.8}
.hatena-iframe-container .loading img{
    vertical-align:middle;
    margin:2px}
.hatena-iframe-container iframe{
    width:100%;
    height:100%}
.hatena-iframe-container.popup{
    box-shadow:0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow:0 2px 4px rgba(0,0,0,.2);
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.2)}
#hatena-diary-edit-in-place{
    left:10%;
    top:37px;
    border:1px solid #ccc;
    overflow:hidden;
    background:#fff}
#hatena-diary-dropdown-notify{
    width:250px;
    height:300px}
.blog-sprite-allabout-guide{
    background-image:url(/images/sprite.png?version=cb5ff14e1c179370f2783ae36f5a86fdb1f3a884);
    width:44px;
    height:11px;
    background-position:0 -11px}
.blog-sprite-customize-article{
    height:16px;
    background-position:-58px -16px}
.blog-sprite-customize-article,.blog-sprite-customize-background-color{
    background-image:url(/images/sprite.png?version=cb5ff14e1c179370f2783ae36f5a86fdb1f3a884);
    width:16px}
.blog-sprite-customize-background-color{
    height:15px;
    background-position:-48px -44px}
.blog-sprite-customize-background-image{
    height:12px;
    background-position:-58px -32px}
.blog-sprite-customize-background-image,.blog-sprite-customize-css{
    background-image:url(/images/sprite.png?version=cb5ff14e1c179370f2783ae36f5a86fdb1f3a884);
    width:16px}
.blog-sprite-customize-css{
    height:15px;
    background-position:-32px -44px}
.blog-sprite-customize-footer{
    background-position:-16px -44px}
.blog-sprite-customize-footer,.blog-sprite-customize-header{
    background-image:url(/images/sprite.png?version=cb5ff14e1c179370f2783ae36f5a86fdb1f3a884);
    width:16px;
    height:16px}
.blog-sprite-customize-header{
    background-position:0 -44px}
.blog-sprite-customize-sidebar{
    width:16px;
    background-position:-58px 0}
.blog-sprite-customize-sidebar,.blog-sprite-customize-smartphone{
    background-image:url(/images/sprite.png?version=cb5ff14e1c179370f2783ae36f5a86fdb1f3a884);
    height:16px}
.blog-sprite-customize-smartphone{
    width:10px;
    background-position:-74px 0}
.blog-sprite-library{
    background-image:url(/images/sprite.png?version=cb5ff14e1c179370f2783ae36f5a86fdb1f3a884);
    width:41px;
    height:11px;
    background-position:0 -22px}
.blog-sprite-npo{
    background-position:-25px -33px}
.blog-sprite-npo,.blog-sprite-pro{
    background-image:url(/images/sprite.png?version=cb5ff14e1c179370f2783ae36f5a86fdb1f3a884);
    width:25px;
    height:11px}
.blog-sprite-pro{
    background-position:0 -33px}
.blog-sprite-sponsored{
    background-image:url(/images/sprite.png?version=cb5ff14e1c179370f2783ae36f5a86fdb1f3a884);
    width:58px;
    height:11px;
    background-position:0 0}
[class*=" blog-sprite-"],[class^=blog-sprite-]{
    display:inline-block;
    vertical-align:text-top;
    background-repeat:no-repeat;
    *margin-right:.3em;
    margin-right:2px}
[class*=" blog-sprite-"]:last-child,[class^=blog-sprite-]:last-child{
    *margin-left:0}
[class*=" blog-sprite-big-"],[class^=blog-sprite-big-]{
    display:inline-block;
    vertical-align:text-top;
    background-repeat:no-repeat;
    *margin-right:.3em;
    padding-right:0;
    margin-right:3px}
.blog-sprite-allabout,.blog-sprite-library,.blog-sprite-npo,.blog-sprite-pro,.blog-sprite-sponsored{
    margin:0 3px;
    vertical-align:middle}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx){
    [class*=" blog-sprite-"],[class^=blog-sprite-]{
        background-image:url(/images/sprite@2x.png?version=9f62ef308a4f1f4633bf4f1955bdd8cbd5a953cc);
        background-size:84px auto}
}
.modal-window-background{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#000;
    z-index:100;
    -moz-opacity:.5;
    opacity:.5;
    -khtml-opacity:.5;
    -webkit-opacity:.5;
    filter:alpha(opacity=50)}
a.open-pro-modal{
    visibility:hidden}
.pro-modal-container{
    position:fixed;
    width:500px;
    height:250px;
    z-index:110;
    background-color:#fff}
.favicon{
    margin-right:.3em;
    vertical-align:text-top}
.touch-afc-block .google_afc_blocklink{
    text-align:left;
    line-height:1.5;
    position:relative!important;
    border-top:1px solid #dfe5e7;
    border-bottom:1px solid #dfe5e7;
    padding:0;
    margin-top:10px;
    margin-bottom:10px;
    font-family:Helvetica Neue,Helvetica,Arial,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ\ Ｐゴシック,MS PGothic,sans-serif}
.touch-afc-block .google_afc_blocklink a{
    color:#2c6ebd;
    padding:8px;
    font-weight:700}
.touch-afc-block .google_afc_blocklink ul{
    list-style:none;
    padding:0;
    margin:0}
.touch-afc-block .google_afc_blocklink li{
    padding:0 10px}
.touch-afc-block .google_afc_blocklink .title{
    margin:0;
    background:transparent;
    font-size:18px;
    letter-spacing:1px;
    line-height:1.5;
    text-align:center}
.touch-afc-block .google_afc_blocklink .title a{
    padding:8px 0;
    margin-left:-10px;
    margin-right:-10px;
    display:block;
    text-decoration:underline}
.touch-afc-block .google_afc_blocklink .summary{
    margin:0 0 -8px;
    font-size:11px;
    display:block;
    text-align:justify;
    color:#aaa}
.touch-afc-block .google_afc_blocklink .summary .line2,.touch-afc-block .google_afc_blocklink .summary .line3{
    display:block}
.touch-afc-block .google_afc_blocklink .visible_url a{
    padding:14px 0 7px;
    margin-right:75px;
    display:block;
    word-wrap:break-word;
    line-height:14px;
    font-size:16px;
    text-decoration:none}
.touch-afc-block .google_afc_blocklink .google_ads_by{
    position:absolute;
    display:block;
    font-size:11px;
    right:8px;
    bottom:8px}
.touch-afc-block .google_afc_blocklink .google_ads_by a{
    font-weight:400;
    color:#ccc;
    text-decoration:none}
.adx-responsive-mode{
    margin-top:1em;
    margin-bottom:1em}
.adx-responsive-mode>div{
    text-align:center}
.adx-responsive-mode>div,.adx-responsive-mode iframe{
    margin-left:auto;
    margin-right:auto}

