.clearfix{
    display:block;
    *zoom:1}
.clearfix:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.inline-block{
    display:inline-block;
    *display:inline;
    *zoom:1}
.ellipsis{
    white-space:nowrap;
    -webkit-text-overflow:ellipsis;
    text-overflow:ellipsis;
    overflow:hidden}
.font-default{
    font-family:Helvetica Neue,Helvetica,Arial,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ\ Ｐゴシック,MS PGothic,sans-serif}
.border-box{
    -ms-box-sizing:border-box;
    box-sizing:border-box}
.center{
    text-align:center;
    margin-left:auto;
    margin-right:auto}
.left{
    float:left}
.right{
    float:right}
.nofloat{
    float:none}
.clear{
    clear:both}
.block{
    display:block}
.inline{
    display:inline}
.nodisplay{
    display:none}
.relative{
    position:relative}
.absolute{
    position:absolute}
.static{
    position:static}
.fixed{
    position:fixed}
.margin0{
    margin:0!important}
.padding0{
    padding:0!important}
.bold{
    font-weight:700}
.normal{
    font-weight:400;
    font-style:normal}
.thin{
    font-weight:300}
.italic{
    font-style:italic}
.nodeco{
    text-decoration:none}
.underline{
    text-decoration:underline}
.nolist{
    list-style-type:none}
.disc{
    list-style-type:disc}
.circle{
    list-style-type:circle}
.textleft{
    text-align:left}
.textright{
    text-align:right}
@font-face{
    font-family:blogicon;
    src:url(/fonts/public/blogicon/blogicon-regular.woff?version=e6c6301f8f411fe89573b16cc9a90fdfa73423b4) format("woff"),url(/fonts/public/blogicon/blogicon-regular.otf?version=3efd24f48a3031dc10b88526d035be7b0873df06) format("opentype");
    font-weight:400;
    font-style:normal}
.hatena-follow-button-box{
    clear:both;
    font-size:10px!important;
    height:20px;
    margin:.7em 0;
    display:block;
    *zoom:1}
.hatena-follow-button-box:after{
    display:block;
    visibility:hidden;
    font-size:0;
    height:0;
    clear:both;
    content:"."}
.hatena-follow-button{
    display:inline-block;
    *display:inline;
    *zoom:1;
    height:18px!important;
    padding-left:20px;
    padding-right:5px;
    min-width:40px;
    border:1px solid #bbb!important;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    transition:.3s ease;
    transition-property:opacity,border,color,background;
    -o-transition:.3s ease;
    -o-transition-property:opacity,border,color,background;
    -moz-transition:.3s ease;
    -moz-transition-property:opacity,border,color,background;
    -webkit-transition:.3s ease;
    -webkit-transition-property:opacity,border,color,background;
    line-height:18px!important;
    font-weight:700;
    text-decoration:none;
    color:#555!important;
    background:#ebebeb;
    float:left;
    letter-spacing:0!important;
    white-space:nowrap;
    -webkit-text-overflow:ellipsis;
    text-overflow:ellipsis;
    overflow:hidden}
.hatena-follow-button:hover{
    text-decoration:none!important}
.hatena-follow-button.unsubscribing{
    background:#f5f5f5 url(/images/theme/hatena-follow-button.png?version=4761c38ee37ae756cb190faa168483d1903ed164) no-repeat 0 0;
    background:url(/images/theme/hatena-follow-button.png?version=4761c38ee37ae756cb190faa168483d1903ed164) no-repeat 0 0,-o-linear-gradient(top,#fff 0,#ddd 100%)}
.hatena-follow-button.unsubscribing.hover{
    border:1px solid #888;
    color:#222!important}
.hatena-follow-button.subscribing{
    color:#2f81d5!important;
    background:#f5f5f5 url(/images/theme/hatena-follow-button.png?version=4761c38ee37ae756cb190faa168483d1903ed164) no-repeat 0 -18px;
    background:url(/images/theme/hatena-follow-button.png?version=4761c38ee37ae756cb190faa168483d1903ed164) no-repeat 0 -18px,-o-linear-gradient(top,#fff 0,#ddd 100%)}
.hatena-follow-button.subscribing.hover{
    width:65px;
    color:#fff!important;
    border:1px solid #666;
    background:#666 url(/images/theme/hatena-follow-button.png?version=4761c38ee37ae756cb190faa168483d1903ed164) no-repeat 0 -36px}
.hatena-follow-button-box .subscription-count-box{
    display:none;
    position:relative;
    float:left;
    margin:0 0 0 5px!important}
.hatena-follow-button-box i,.hatena-follow-button-box u{
    position:absolute;
    z-index:10;
    zoom:1;
    line-height:0;
    width:0;
    height:0;
    left:0;
    top:50%;
    margin:-4px 0 0 -4px;
    border:4px solid transparent;
    border-right-color:#bbb;
    border-left:0}
.hatena-follow-button-box u{
    margin-left:-3px;
    border-right-color:#fff}
.hatena-follow-button-box .subscription-count{
    float:left;
    border:1px solid #bbb;
    height:18px;
    line-height:18px;
    padding:0 5px;
    display:block;
    min-width:8px;
    font-size:12px;
    color:#454545!important;
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-left:-1px;
    position:relative;
    z-index:9;
    font-family:Helvetica,Ariel,sans-serif}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section{
    display:block}
body,html{
    margin:0;
    padding:0}
img{
    border:none}
.leave-comment-title{
    cursor:pointer;
    display:none}
img.hatena-fotolife{
    cursor:pointer}
pre{
    overflow:auto;
    overflow-y:hidden}
pre.code{
    font-family:Monaco,Consolas,Courier New,Courier,monospace,sans-serif}
.synIdentifier{
    color:#51cfcf}
.synConstant{
    color:#f66}
.synStatement{
    color:#d88a17}
.hatena-citation{
    font-style:normal;
    font-size:90%;
    opacity:.75;
    display:block}
