---
---
@import "common";
@import "theme";

.top-nav {
    @include clear-float;
    display: flex;
    margin: 30px 100px;
}

.top-nav h1 {
    margin-top: 75px;
    margin-right: auto;
}

.top-nav ul li {
    display: block;
    list-style: none;
    border-bottom: 1px solid $hr-color;
    font-size: 18px;
    padding: 20px;
}

.top-nav ul li:last-child {
    border-bottom: none;
}

@media print, screen and (max-width: 960px) {
    .top-nav {
        margin-left: 50px;
        margin-right: 50px;
    }

}

@media print, screen and (max-width: 720px) {
    .top-nav {
        display: block;
        margin: 30px 30px;
    }

    .top-nav h1 {
        text-align: center;
    }

    .top-nav ul {
        margin: 0px;
        padding: 0px;
    }

    .top-nav ul li {
        text-align: center;
    }
}
