---
---
@import "common";
@import "theme";

.wrapper.top-wrapper {
    margin-top: 100px;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.top-nav {
    @include clear-float;
    display: flex;
    margin: 30px 100px;
}

.top-nav h1 {
    margin-top: 75px;
    margin-right: auto;
}

.top-nav ul li {
    display: block;
    list-style: none;
    font-size: 18px;
    padding: 9px;
    margin: 9px;
    @include window-frame;
}

@media print, screen and (max-width: 1200px) {
    .wrapper.top-wrapper {
        width: auto;
        margin-left: 120px;
        margin-right: 120px;
    }
}

@media print, screen and (max-width: 960px) {
    .top-nav {
        margin-left: 50px;
        margin-right: 50px;
    }

    .wrapper.top-wrapper {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media print, screen and (max-width: 720px) {
    .top-nav {
        display: block;
        margin: 30px 30px;
    }

    .top-nav h1 {
        text-align: center;
    }

    .top-nav ul {
        margin: 0px;
        padding: 0px;
    }

    .top-nav ul li {
        text-align: center;
    }

    .wrapper.top-wrapper {
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media print, screen and (max-width: 480px) {
    .wrapper.top-wrapper {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
