<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}"
      prefix="og: http://ogp.me/ns#">
  <head>
    <!--
         ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
         |　　　　　　　　　　　 　 　 　 　 　 　 　 　 /　　　　　　 　 　 　 　 |
         |　　　　　　　　　　 　 　 　 　 　 _＿＿ 　 |　　　 　 　 　 　 　 　 ｜
         |　　　 　 　 　 　 -―───＜⌒Y　　＼|　　　　オ　プ　 さ 　 　 |
         |　 /⌒＞　　　　　　　　　 　 　 ＼_) 　 　 ＼　　　メ　ロ　て　 　 ｜
         |⌒^／　　　　　　　 　 ⌒ヽ　　　　＼ 　　 　 ＼. 　|　グ　は 　 　 |
         |　/　　　/ ⌒　　 　 ／＼_/＼ 　 　 ∨　　 　 ｜　　 ラ　　　　　|
         |７　　　/|／⌒＼／　／⌒ヽ　＼ 　 　 　 　 　 |　 　 マ　　　　　|
         |　 　 |/　／⌒ヽ　　　 ん(__ハ　｜ 　 ト ＿(＼ﾉ　 　 |　　 　 　 |
         |　 　 |　　 ん(__ハ　 　{ニﾆニ}　 |　　 |ぅ}　|　　 　　　だ　　 　 　 |
         |　 　 |　　 {ニﾆニ}　　 Ｖ廴ク 　｜ 　 |ノ＜　　　　　な　 　 　 　 |
         |　 　 l　　 乂廴ク 　 ' 　 　 　 　 |　　 |　 　＼　　　　　　 　 　 ／|
         |　 　 |　　　　　 　(_人ﾉ 　 　 　 ｜ 　 |　　　　＼＿＿＿＿_／　｜
         |　 　 |　　　　　　 　 　 　 　 　 イ| 　 /＼　　　　　　　　　　　　　 |
         |＼　 |＞┬──┬　 　 Ｔ千i:ｉ:/ |_／　　゛　　　　　　　　　　　 　 |
         |　 ＼| 　 ∨i:i:i:i:i∧　　 /i:i:i:i:i/　　　　　　| 　　　　　　　　　 　 　 |
         |　　/ 　 　 ＼i:i:i:i:ｉ:ｉ＼/i:i:i:i:i/　 　 　 　 　|　 　　　　　　　　 　 　 |
         ￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣
       -->
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper-title">
        <a href="/articles.html">MOYA TETRAD</a>
        <i class="wrapper-title-button"></i>
      </div>
      <header>
        {% include header.html %}
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    {% include scripts.html %}
  </body>
</html>
